.cabecera_titulo{
    font-size: 23px;
    font-weight: 600;
}
.cabecera_estrellas{
    display: flex;
    align-items: center;
}
.contenedor_cabecera_tienda{
    color: #000;
}
.contenedor_izq{
    margin-top: 15px;
}
.numero_reviews{
    margin-left: 10px;
}
.boton_review{
    font-size: 13px;
    display: inline-block;
    padding: 0 12px;
    background: #d3edf4;
    line-height: 23px;
    color: #006884;
    margin-top: 5px;
}
.numero_reviews{
    color: #1a0dab;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    min-width: 160px;
}
.direccion, .provincia, .telefono_tienda{
    margin: 0;
    font-size: 12px;
}
.contenedor_botones_tienda{
    display: flex;
    gap: 5px;
    justify-content: center;
}
.bloque_der{
    width: 100%;
    background: #d3edf4;
    box-sizing: border-box;
    padding: 11px 13px 1px;
}
.horario_tienda li{
    list-style: none;
    font-size: 13px;
}
.horario_tienda {
    padding: 0;
    column-count: 2;
}
.lista_horario{
    margin: 0;
    color: #006884;
}


/*Estilos para botones*/
.whatsapp_tienda {
    min-width: 110px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: #80ed99;
    text-align: center;
    height: 35px;
}
/*.whatsapp_tienda a:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left: 8px;
}
.whatsapp_tienda a:hover:after {
    opacity: 1;
    right: 10px;
}
 .whatsapp_tienda a:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: -5px;
    right: -20px;
    transition: 0.4s;
}*/

.llamar {
    min-width: 110px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: #e91e63;
    text-align: center;
    height: 35px;
}

/*.llamar a:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left: 8px;
}

.llamar a:hover:after {
    opacity: 1;
    right: 10px;
}

.llamar a:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: -5px;
    right: -20px;
    transition: 0.4s;
}*/

.mapa_tienda {
    min-width: 110px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: #25acb9;
    text-align: center;
    height: 35px;
    margin-top: 16px;
}

/*.mapa_tienda a:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left: 8px;
}

.mapa_tienda a:hover:after {
    opacity: 1;
    right: 10px;
}

.mapa_tienda a:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: -5px;
    right: -20px;
    transition: 0.4s;
}*/
/*Fin Estilos para botones*/


/*estilos de estrellas de google*/

.img_stars{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAQAAAAz1Zf0AAAAWklEQVR4AY3O0QbDQBCG0UNYQi0hhBJqr8Iy7/94vewYlp65/Ay//4WlLnQLt3BbeIRH5jBFPVMHmlHS0CRnSqdiT3GH1edb8RGmoy4GwrBhM4Qmebn8XDrwBW7xChrojlOZAAAAAElFTkSuQmCC);
    background-size: 14px 13px;
    height: 13px;
    top: 1px;
    width: 69px;
    background-repeat: repeat-x;
    display: inline-block;
    overflow: hidden;
    position: relative;
    left: 3px;
}
.imgValoracion{
    background-repeat: repeat-x;
    display: block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAYAAACZ3F9/AAAAZklEQVR4AWL4uYWZCdAJHVMBAIJAAG1DoAtjGarYxxjqwHADnA8HFuWL3E8puH8gAqILPaB34Qq4FAQ1yoo+8ES7NRWKe6u+Ogo0XjtaCmlSd6K/4OQQOF0JKYTsMasgOIRkBfDZATita/85jgoHAAAAAElFTkSuQmCC);
    background-size: 14px 13px;
    height: 13px;
    top: 1px;
}
.logo_google {
    width: 17%;
    margin-right: 5px;
    margin-bottom: -3px;
}
.logo_google img{
    width: 100%;
}